.goods-navbar {
    background-color: rgb(235, 235, 235);
}
.goods-navbar a {
    color: rgb(60, 60, 60);
}

.nav-item-subdirectory {
    height: 45px; padding: 0 15px; display: flex; justify-content: center; align-items: center; text-decoration: none; font-size: 13px;
}

.nav-item-subdirectory:hover {
    text-decoration: underline;
    cursor: pointer;
}
.secondbar {
    height: 120px;
    width: 100%;
}

.form-control {
    width: 150%;
    border-radius: 20px;
    border: 2px solid orange;
}

.nav-item-subdirectory2 {
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.nav-item-subdirectory2:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
}

.boldflex {
    height: 100%;
    font-size: 1.15vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgd {
    width: 100px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap10down {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gap10 {
    display: flex;
    gap: 10px;
}

.bBtn {
    height: 40px;
    color: white;
    background-color: blue;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.rBtn {
    height: 40px;
    color: white;
    background-color: red;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.bBtn, .rBtn:hover {
    cursor: pointer;
}